#pour eviter que quelqu'un  accede à mon dossier src depuis le navigateur ensaisissant l'adresse suivant :http://192.168.15.22/jour7-tp-moi/src/param.ini ou http://192.168.15.22/jour7-tp-moi/src/Controller/Sitecontroller.php

Deny from all