{# le _ dans le nom du fichier sert à dire que ce fichier contient le code d'une partis de notre code#}
<header class= "bg-danger">
<nav class="navbar navbar-expand container navbar-light">
<span class="navbar-brand">
    symfony découvert
</span>
<ul class="navbar-nav">
<li class="navbar-item">
<a href="{{ path("exo2") }}" class="nav-link">Exo 2</a>  {#path("le nom de la route")#}
</li>
<li class="navbar-item">
<a href="{{ path("boucle-condition") }}" class="nav-link">for if</a>  {#path("le nom de la route")#}
</li>
<li class="navbar-item">
<a href="{{ path("exo3") }}" class="nav-link">Exo 3</a>  {#path("le nom de la route")#}
</li>
</ul>
</nav>
</header>