{% extends "bootstrap.html.twig" %}
{% block body %}
    <h1>creer un nouveau profil etudiant</h1>
    {#{{form(form)}}#}

 
{{form_start(form)}}
     {{form_widget(form)}}
     <input type = "submit">
 {{form_end(form)}}
{% endblock %}